.venv
__pycache__
foo.db
cutqc_data
cutqc/build
cutqc/measure
cutqc/merge
cutqc/vertical_collapse
agg_data
rb_data
config.json
/part_data/
agg_data_circ
circuit_drawings

# Allow
!/part_data/2021-04-18-07-11-18-test/*
!/part_data/2021-04-20-06-05-22/*
!/part_data/2021-04-18-07-11-18/*

!/agg_data_circ/2021-04-14-14-30-09/*
!/agg_data_circ/2021-04-14-14-35-23/*
!/agg_data_circ/2021-04-14-15-16-27/*
!/agg_data_circ/2021-04-14-15-32-54/*
!/agg_data_circ/2021-04-14-15-50-01/*